<div class="panel panel-default">
    <div class="panel-body">
        <div class="flex-container">

            <!--details-->
            <div class="flex-item flex-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>

            <!--rated movies-->
            <div class="flex-item flex-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Rated Movies</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>