<div class="panel panel-default">
    <div class="panel-body">
        <div class="flex-container flex-container-spacing" ng-repeat="row in movies | genreSelection:selectedGenres | rowCount:2">
            <div class="flex-item flex-1" ng-repeat="movie in movies | genreSelection:selectedGenres | itemsOfRow:row:2">
                <div class="well well-sm">
                    <div id="wellContainer" class="flex-container">
                        <div class="flex-item flex-1">
                            <img ng-src="{{getImageUrl(imageSizeList, movie.poster_path)}}" alt="no image">
                        </div>
                        <div class="flex-item flex-4">
                            <div class="row">
                                <div class="col-md-1">&nbsp;</div>
                                <div class="col-md-9 leftaligned"><span class="movie-title">{{movie.title}}</span></div>
                                <div class="col-md-2"><span class="label label-info movie-vote">{{movie.vote_average}}</span></div>
                            </div>
                            <div class="flex-container flex-container-spacing">
                                <div class="flex-item flex-1 justified"><span class="movie-genres">{{genreIdsToString(movie.genre_ids)}}</span></div>
                                <div class="flex-item flex-5 justified"><span class="movie-overview">{{movie.overview}}</span></div>
                                <div class="flex-item flex-3">
                                    <button class="btn btn-primary btn-sm" ng-click="getImages(movie.id)">Pics</button>
                                    <button class="btn btn-primary btn-sm" ng-click="">Video</button>
                                    <button class="btn btn-primary btn-sm" ng-click="getReviews(movie.id)" data-toggle="modal" data-target="#reviewDialog">Reviews</button>
                                    <button class="btn btn-primary btn-sm" ng-click="getAssociatedMovies(movie)" data-toggle="modal" data-target="#associatedDialog">Associated</button>
                                    <button class="btn btn-success" ng-click="addToWatchlist(movie)" ng-hide="watchlistContainsMovie(movie)">+ Watchlist</button>
                                    <button class="btn btn-warning" ng-click="removeFromWatchlist(movie)" ng-show="watchlistContainsMovie(movie)">- Watchlist</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel bg-danger" ng-show="error">
        Something´s wrong: {{error}}
    </div>
</div>