<div id="genreDialog" ng-controller="genreCtrl" class="modal fade" role="dialog" aria-labelledby="dialogTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialogTitle">Select Genres</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table>
                            <tr ng-repeat="row in genres | rowCount:4">
                                <td ng-repeat="genre in genres | itemsOfRow:row:4">
                                    <button type="button" class="btn genre-selector" ng-class="selectedGenres.includes(genre.id)?'btn-success':'btn-default'" ng-click="selectGenre(genre.id)">
                                        {{genre.name}}
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>