.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex-item {
    -webkit-align-self: center;
    align-self: center;
    text-align: center;
}
#wellContainer > .flex-item:not(:first-child) {
    margin-left: 6px;
}
.flex-container-spacing > .flex-item:not(:first-child) {
    margin-left: 20px;
}
#wellContainer {
    height: 160px;
}
#wellContainer div {
    max-height: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#wellContainer .flex-item div {
    max-height: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#wellContainer .flex-item div span {
    max-height: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flex-item .row {
    display: flex;
    align-items: center;
}
.flex-1 {
    -webkit-flex: 1;
    flex: 1;
}
.flex-2 {
    -webkit-flex: 2;
    flex: 2;
}
.flex-3 {
    -webkit-flex: 3;
    flex: 3;
}
.flex-4 {
    -webkit-flex: 4;
    flex: 4;
}
.flex-5 {
    -webkit-flex: 5;
    flex: 5;
}
.genre-selector {
    width: 122px;
    margin: 3px;
}
.movie-title {
    font-family: 'Oswald', sans-serif;
    font-size: large;
}
.movie-overview {
    font-family: 'Roboto Condensed', sans-serif;
}
.movie-genres {
    font-family: 'Francois One', sans-serif;
}
.movie-vote {
    font-size: 16px;
    padding: 8px;
    display: inline-block;
    width: 40px;
}
.watchlist-navbar {
    margin-right: 20px;
}
.space-after {
    margin-right: 5px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}
.carousel {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
}
.carousel img {
    margin: auto;
}
.leftaligned{
    text-align: left;
}
.justified {
    text-align: justify;
}
.row {
    margin-bottom: 10px;
}
form .ng-valid.ng-dirty {
    background-color: lightgreen;
}
form .ng-invalid.ng-dirty {
    background-color: lightpink;
}
.error {
    color: red;
    font-weight: bold;
}